html {
  font-size: 5vw !important;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.red {
  color: #ff3c1c;
}
.container-main {
  width: 375px !important;
  height: 667px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.container-main * {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container-main::-webkit-scrollbar {
  display: none;
}
.fix-font-size {
  font-size: 18.75px !important;
}
/* Flex
  =========================================
 */
/* transform
  =========================================
 */
.mask {
  position: relative;
  -webkit-transition: max-height 0.32s cubic-bezier(0.95, 0.05, 0.795, 0.035), -webkit-mask-size 0.22s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: max-height 0.32s cubic-bezier(0.95, 0.05, 0.795, 0.035), -webkit-mask-size 0.22s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: mask-size 0.22s cubic-bezier(0.95, 0.05, 0.795, 0.035), max-height 0.32s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: mask-size 0.22s cubic-bezier(0.95, 0.05, 0.795, 0.035), max-height 0.32s cubic-bezier(0.95, 0.05, 0.795, 0.035), -webkit-mask-size 0.22s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  -webkit-mask-image: linear-gradient(#000 calc(92%), transparent calc(97.2%));
  mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  mask-image: linear-gradient(#000 calc(92%), transparent calc(97.2%));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
.container-download {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg_download.png") 50% 50% no-repeat;
  -webkit-background-size: 100%;
}
.container-download .btn-download {
  position: absolute;
  width: 17.33333333rem;
  height: 3.73333333rem;
  bottom: 0.93333333rem;
  left: 50%;
  margin-left: -8.66666667rem;
  opacity: 0;
}
.container-share {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg_share.png") 50% 50% no-repeat;
  -webkit-background-size: 100%;
  color: #fff;
  padding-top: 12rem;
}
.container-share .nickname-box {
  text-align: center;
  font-size: 0.96rem;
  margin-bottom: 0.96rem;
}
.container-share .price {
  text-align: center;
  font-size: 1.86666667rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.container-share .tips {
  text-align: center;
  font-size: 0.69333333rem;
  margin-bottom: 0.66666667rem;
}
.container-share .qrcode {
  margin: 0 auto 0.66666667rem;
  display: block;
  width: 6.66666667rem;
  height: 6.66666667rem;
}
.container-share .bottom-tips {
  font-size: 0.96rem;
  text-align: center;
}
.container-red {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg_redpackge.png") 50% 50% no-repeat;
  -webkit-background-size: 100%;
  padding-top: 11.2rem;
}
.container-red .btn-get {
  background: url("../images/btn_redpackge.png") 50% 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 10.66666667rem;
  height: 2.4rem;
  margin: 0 auto;
}
.container-red .detail-lists {
  position: absolute;
  left: 0.4rem;
  right: 0.4rem;
  bottom: 1.33333333rem;
  height: 19.2rem;
  background: #ffffff;
  overflow: hidden;
  color: #8a3a00;
  -webkit-border-radius: 0.53333333rem;
  -moz-border-radius: 0.53333333rem;
  border-radius: 0.53333333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.container-red .detail-lists * {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container-red .detail-lists .list-item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  height: 3.2rem;
  padding: 0 0.69333333rem;
  border-bottom: 1px solid #e4e4e4;
}
.container-red .detail-lists .list-item .nickname {
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 0.26666667rem;
}
.container-red .detail-lists .list-item .bot-box {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.container-red .detail-lists .list-item .bot-box .date {
  font-size: 0.64rem;
}
.container-red .detail-lists .list-item .bot-box .text {
  font-size: 0.8rem;
}
.container-red .block-alert {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.container-red .block-alert .block-alert-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6.32rem;
  margin-left: -8.4rem;
  width: 16.8rem;
  height: 12.64rem;
  background: #ffffff;
  padding-top: 1.33333333rem;
  overflow: hidden;
}
.container-red .block-alert .block-alert-body .row-mobile {
  position: relative;
  height: 2.4rem;
  width: 13.33333333rem;
  font-size: 0.8rem;
  margin: 0 auto;
}
.container-red .block-alert .block-alert-body .row-mobile input {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  outline: none;
  border: none;
  background: none;
  width: 8rem;
  height: 1.28rem;
  margin-top: -0.64rem;
  text-indent: 0.69333333rem;
  border-right: 1px solid #a0a0a0;
  z-index: 1;
}
.container-red .block-alert .block-alert-body .row-mobile input:focus + label {
  border: 1px solid #ffb400;
}
.container-red .block-alert .block-alert-body .row-mobile .btn-send-vcode {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0 0.69333333rem 0 0.53333333rem;
  height: 1.28rem;
  line-height: 1.28rem;
  margin-top: -0.64rem;
  text-align: center;
  z-index: 1;
}
.container-red .block-alert .block-alert-body .row-mobile .count-down {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0 0.69333333rem 0 0.53333333rem;
  height: 1.28rem;
  line-height: 1.28rem;
  margin-top: -0.64rem;
  color: #a0a0a0;
  text-align: center;
  display: none;
}
.container-red .block-alert .block-alert-body .row-mobile .count-down .second {
  display: inline-block;
  width: 0.8rem;
  text-align: center;
}
.container-red .block-alert .block-alert-body .row-mobile .border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  border-radius: 2.4rem;
  display: block;
  border: 1px solid #a0a0a0;
  width: 100%;
  height: 100%;
}
.container-red .block-alert .block-alert-body .row-vcode {
  height: 2.4rem;
  width: 13.33333333rem;
  font-size: 0.8rem;
  margin: 0.53333333rem auto 0.8rem;
}
.container-red .block-alert .block-alert-body .row-vcode input {
  height: 100%;
  width: 100%;
  border: 1px solid #a0a0a0;
  line-height: 2.4rem;
  padding: 0 0.69333333rem;
  background: none;
  outline: none;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  border-radius: 2.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-red .block-alert .block-alert-body .row-vcode input:focus {
  border: 1px solid #ffb400;
}
.container-red .block-alert .block-alert-body .btn-submit {
  height: 2.4rem;
  width: 13.33333333rem;
  text-align: center;
  line-height: 2.4rem;
  font-size: 0.85333333rem;
  color: #ffffff;
  background: #ffb400;
  margin: 0 auto 0.8rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  border-radius: 2.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-red .block-alert .block-alert-body .btn-login-wechat {
  text-align: center;
  font-size: 0.74666667rem;
}
.container-detail {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container-detail .section-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.66666667rem;
  background: #4e4e4e;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.container-detail .section-top-bar .swiper-slide {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.container-detail .section-top-bar .swiper-slide .article-thumbnail {
  width: 3.2rem;
  height: 2.13333333rem;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 0.69333333rem;
}
.container-detail .section-top-bar .swiper-slide .article-title {
  font-size: 0.64rem;
  line-height: 0.8rem;
  margin: 0 0.96rem 0.26666667rem 0.53333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 1.6rem;
  width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.container-detail .section-top-bar .swiper-slide .btn-open {
  width: 3.2rem;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  background: #ffb400;
  text-align: center;
  margin-right: 0.53333333rem;
  font-size: 0.8rem;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
}
.container-detail .section-top-bar .swiper-pagination {
  bottom: 0;
}
.container-detail .section-top-bar .swiper-pagination .swiper-pagination-bullet {
  width: 0.26666667rem;
  height: 0.26666667rem;
  margin: 0 0.08rem;
  background: #b9b9b9;
}
.container-detail .section-top-bar .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffb400;
}
.container-detail .section-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2.66666667rem 1.06666667rem 0;
}
.container-detail .section-main * {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container-detail .section-main .section-content {
  position: relative;
}
.container-detail .section-main .section-content .title-main {
  font-size: 0.93333333rem;
  line-height: 1.46666667rem;
  color: #1b1b1b;
  margin-bottom: 0.53333333rem;
}
.container-detail .section-main .section-content .sub-text {
  color: #bbbbbb;
  font-size: 0.64rem;
}
.container-detail .section-main .section-content .content-main {
  font-size: 0.8rem;
  line-height: 1.17333333rem;
  color: #1b1b1b;
}
.container-detail .section-main .section-content .content-main img {
  width: 100%;
}
.container-detail .section-main .section-content .btn-plain {
  display: none;
  position: absolute;
  bottom: -1.33333333rem;
  left: 50%;
  width: 14.66666667rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 0.96rem;
  color: #ffb400;
  border: 1px solid #ffb400;
  margin-left: -7.33333333rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  border-radius: 2.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-detail .section-main .section-advert {
  width: 17.86666667rem;
  margin: 1.33333333rem auto 0;
}
.container-detail .section-main .section-advert .ad-container {
  padding: 0.4rem 0.53333333rem;
}
.container-detail .section-main .section-advert .ad-container .ad-item {
  position: relative;
}
.container-detail .section-main .section-advert .ad-container .ad-item .ad-title {
  font-size: 0.96rem;
  line-height: 1.28rem;
  margin-bottom: 0.4rem;
  font-weight: normal;
}
.container-detail .section-main .section-advert .ad-container .ad-item .ad-image-list {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.container-detail .section-main .section-advert .ad-container .ad-item .ad-image-list .ad-image-item {
  width: 5.46666667rem;
  height: 4.13333333rem;
  background: #A0A0A0 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0.53333333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
